{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load socialaccount %}

{% block title%}Login{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">
            Login
        </button>
    </form>
</div>

<div class="text-center mt-3">
    <a href="{% provider_login_url 'google' %}" class="btn btn-outline-primary">
        <i class="bi bi-google"></i> Login with Google
    </a>
</div>
{% endblock %}